.blocks {
  background-color: rgb(197, 197, 197);
  color: rgb(0, 0, 0);
}

.createPageWrapper {
  display: flex;
  flex-direction: row;
}

.leftMenu {
  width: 8%;
  min-width: 160px;
  z-index: 1;
}

.middleGrid {
  width: 42%;
}

.rightForm {
  width: 50%;
  z-index: 1;
}
