/* Start Footer */
.footer {
  background: aliceblue;
  padding: 24px 0px;
  text-transform: capitalize;
  text-align: center;
  color: var(--primary-color);
  font-size: 17px;
}
.footer a {
  font-weight: 500;
  color: var(--secondary-color);
}

.footerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.footerColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.donateButton {
  color: #fff !important;
  font-size: 1rem;
  background-color: #6b5be6;
  padding: 12px 24px;
  border-radius: 5px;
}
