.benefitsCardsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card {
  height: 250px;
  width: 420px;
  padding: 24px;
}
.cardHeaderText {
  font-size: 24px;
  color: #333;
  margin-left: 0px;
}
.cardHeaderEmoji {
  font-size: 28px;
  margin-right: 4px;
}
.cardMainText {
  font-size: 1.125rem;
  color: #555;
  margin-top: 8px;
  margin-left: 8px;
  line-height: 1.75rem;
}
.cardBottomLine {
  font-size: 1.125rem;
  color: #6b5be6;
  margin-top: 8px;
  margin-left: 8px;
  line-height: 1.75rem;
  letter-spacing: 0.08rem;
}

@media (max-width: 1200px) {
  .benefitsCardsWrapper {
    flex-direction: column;
  }
  .card {
    margin-bottom: 36px;
  }
}

@media (max-width: 900px) {
  .benefitsCardsWrapper {
    flex-direction: column;
  }
  .card {
    height: 250px;
    width: 22rem;
    padding: 24px;
  }
}
