/* Start Global Rules */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
*::placeholder {
  font-size: 15px;
  font-family: "poppins", sans-serif;
  font-weight: 500;
}
:root {
  --f-transition: 0.2s; /*  Fast Transition */
  --main-transition: 0.3s; /* Main Transition */
  --m-transition: 0.4s; /* Medium Transition */
  --s-transition: 0.5s; /* Slow Transition */
  --header-height: 60px;
  --sections-padding: 60px;
  /* --main-color: hsl(206, 92%, 46%); */
  --primary-color: #6b5be6;
  --secondary-color: #00ccc9;
  /* --third-color: hsl(179, 100%, 40%); */
  /* --light-main-color: hsl(206, 92%, 50%); */
  --light-primary-color: hsl(247, 74%, 67%);
  --light-secondary-color: #00e0dd;
  --dark-primary-color: #5a4ad5;
  --dark-secondary-color: #03bbb8;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
}
/* a:active {
  transform: scale(0.91);
  transition: transform var(--f-transition);
} */
p {
  line-height: 1.5;
}
ul,
ol {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  background-size: cover;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Utility Classes */
.button-secondary {
  background-color: var(--secondary-color);
  color: #ffffff !important;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  padding: 6px 15px;
}
.button-secondary:hover {
  background-color: var(--dark-secondary-color);
}
.btn-primary:hover {
  background: var(--light-third-color);
}
.scale-effect:active {
  transform: scale(0.88);
  transition: transform var(--f-transition);
}
.fill::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -6px;
  width: 0;
  height: 3px;
  background: var(--secondary-color);
  transition: var(--main-transition);
}
.fill:hover::after {
  width: 100%;
}
.section-title {
  width: fit-content;
  max-width: 400px;
  margin: auto;
  margin-bottom: 50px;
  position: relative;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 35px;
  color: var(--primary-color);
  cursor: pointer;
}

.btns-group {
  margin-top: 20px;
  display: flex;
  text-align: center;
  gap: 10px;
}
/* End Utility Classes */

/* Start Landing Section */
.landing {
  height: 100vh;
}
.landing .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  height: 90%;
}
.landing .text {
  text-align: start;
  flex: 1;
}

#welcomeHeader {
  font-size: 60px;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--primary-color);
}

#welcomeSubheader {
  font-size: 24px;
  text-transform: capitalize;
  color: var(--secondary-color);
  font-weight: 500;
}

#welcomeText {
  margin-top: 14px;
  max-width: 600px;
  line-height: 1.7;
  font-size: 24px;
}

/* @media (max-width: 1200px) {
  #welcomeHeader {
    font-size: 36px;
  }
}

@media (max-width: 992px) {
  .landing .text {
    text-align: center;
  }
  #welcomeSubheader {
    font-size: 17px;
  }
  #welcomeText {
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
  }
  .landing .btns-group {
    justify-content: center;
  }
  .landing .image {
    display: none;
  }
}
.landing .image {
  flex: 0.85;
  z-index: -1;
}
@media (max-width: 767px) {
  .section-title {
    margin-bottom: 40px;
  }
}

@media (max-width: 500px) {
  #welcomeHeader {
    font-size: 30px;
  }
} */
/* End Landing Section */

/* Start Projects */
#templatesSection {
  padding-top: var(--sections-padding);
  padding-bottom: var(--sections-padding);
  background-color: aliceblue;
}
.templatesSectionContent {
  display: flex;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.eachTemplate {
  /* position: relative; */
  border-radius: 6px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  width: 280px;
}
.templateImage {
  display: grid;
  place-items: center;
  padding-top: 24px;
}
.templateDetails {
  padding: 15px;
  text-align: start;
  color: #000;
}
.templateTitle {
  text-transform: capitalize;
  margin-bottom: 8px;
  color: var(--primary-color);
  font-size: 22px;
  font-weight: 600;
}
.templateDescription {
  font-size: 15px;
  line-height: 1.6;
  color: #555;
}
.useTemplateButton {
  background-color: var(--secondary-color);
  color: #ffffff !important;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  font-family: monospace;
  padding: 6px 15px;
  border: none;
  margin-top: 20px;
}
.useTemplateButton:hover {
  background-color: var(--dark-secondary-color);
  cursor: pointer;
}
.moreTemplates {
  text-align: center;
}
.moreTemplates a {
  display: inline-block;
  white-space: nowrap;
  margin: 80px auto 0;
}
.moreTemplates:hover i {
  transition: 0.3s;
  transform: translateX(4px);
}

/* ========================XXXXXXXXXX========================= */

.templates-content .template {
  position: relative;
  border-radius: 6px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
}

/* End Templates */
