/* Start Projects */
#templatesSection {
  padding-top: var(--sections-padding);
  padding-bottom: var(--sections-padding);
  /* background-color: aliceblue; */
}
.templatesSectionContent {
  display: flex;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.eachTemplate {
  /* position: relative; */
  border-radius: 6px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  width: 280px;
}
.templateImage {
  display: grid;
  place-items: center;
  padding-top: 24px;
}
.templateDetails {
  padding: 15px;
  text-align: start;
  color: #000;
}
.templateTitle {
  text-transform: capitalize;
  margin-bottom: 8px;
  color: var(--primary-color);
  font-size: 22px;
  font-weight: 600;
}
.templateDescription {
  font-size: 15px;
  line-height: 1.6;
  color: #555;
}
.useTemplateButton {
  background-color: var(--secondary-color);
  color: #ffffff !important;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  font-family: monospace;
  padding: 6px 15px;
  border: none;
  margin-top: 20px;
}
.useTemplateButton:hover {
  background-color: var(--dark-secondary-color);
  cursor: pointer;
}
.moreTemplates {
  text-align: center;
}
.moreTemplates a {
  display: inline-block;
  white-space: nowrap;
  margin: 80px auto 0;
}
.moreTemplates:hover i {
  transition: 0.3s;
  transform: translateX(4px);
}

/* ========================XXXXXXXXXX========================= */

.templates-content .template {
  position: relative;
  border-radius: 6px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
}

/* End Templates */
