#resumePageWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #fafafa;
}

#resumeWrapper {
  position: relative;
  width: 49.8rem;
  aspect-ratio: 1 / 1.414;
  /* height: 297mm; */
  /* size: a4 !important; */
  margin: 20px 5px 0px 20px;
}

#resumeOptions {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

#shareModal {
  width: 400px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
#shareModalHeader {
  padding: 16px 16px 16px 28px;
  color: #454545;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.shareListItem {
  width: 100%;
  padding: 16px 16px 16px 24px;
  border-radius: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
  color: #454545;
}
.shareListItem:hover {
  transition: 200ms;
  cursor: pointer;
  background-color: #eee;
}

@media screen and (max-width: 1200px) {
  #resumePageWrapper {
    display: block;
  }
  #resumeOptions {
    flex-direction: row;
  }
}
